services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - crud-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - crud-network

  app:
    build: .
    container_name: my-crud-app
    restart: always
    command: npm start
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - "3001:3000"   # внешний порт 3001, чтобы не конфликтовать с локальным 3000
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: mydb
      DB_USER: admin
      DB_PASSWORD: admin
    networks:
      - crud-network

volumes:
  postgres_data:

networks:
  crud-network:
    driver: bridge
